// Catppuccin's dark flavour's accents have bad contrast with $text so swap to $crust
// Light accents contrast is ok! (rare latte win)

div[class*="-item"][class*="-addFriend"],
div[class*="-numberBadge"][style*="background-color: var(--status-danger);"],
div[class*="-iconBadge"][class*="-isCurrentUserConnected"],
div[class*="-bar"][class*="-unreadMentionsBar"],
span[class*="-botTag"],
span[class*="-unreadPill"],
div[class$="-listItem"] div[class$="-wrapper"] [class$="-selected"], // Server list entries with no icons (Home/Add server/Discover etc)
button[class*="-container"]>div[class*="-icon"]>svg, // Add Friend Page Discoverable Servers svg
div[class*="-newBadge"],
div[class*="-checkbox"],
button[class*="-button"][class*="-lookFilled"][class*="-colorRed"],
button[class*="-button"][class*="-lookFilled"][class*="-colorGreen"],
button[class*="-button"][class*="-lookFilled"][class*="-colorLink"],
button[class*="-button"][class*="-lookFilled"][class*="-colorBrand"],
button[class*="-colorable"][class*="-join"], // Vc join buttons
svg[class$="-status"], // Vc status (mute/deafen)
svg[class$="-dots"], // Status typing indicator
div[class*="-textBadge"][class*="-base"],
svg[class*="-descriptionIcon"],
div[class*="-winButtonClose"]:hover,
div[class$="-uploadDropModal"],
svg[class*="-stepIcon"],
svg[class*="-activeIcon"], // Account switcher
div[class*="-tooltipBrand"], div[class*="-tooltipGreen"],
span[class$="-planOptionDiscount"], // Nitro plan discount badge
div[class$="-memberCount"], // Onboarding option member count
svg[class$="-flowerStar"] + div[class*="-childContainer"],
div[class$="-streamerModeEnabledBtn"],
[class*="-notice"][class*="-colorBrand"], [class*="-colorStreamerMode"], [class*="-colorSpotify"], [class*="-colorPremium"], [class*="-colorPlayStation"],
.interactive:hover {
  --white: #{$crust};
  --white-500: #{$crust};
}

// Force button text color for brand buttons
button[class*="-button"][class*="-lookFilled"][class*="-colorBrand"]:not(
    :has(> div > div[class$="-buttonIcon"])
  ) {
  color: #{$crust} !important;
}

// Vencord buttons
button.vc-btn-primary {
  color: #{$crust} !important;
  background-color: #{$brand} !important;

  &:hover {
    background-color: #{darken($brand, math.div(15%, 2))} !important;
  }

  &:active {
    background-color: #{darken($brand, math.div(25%, 2))} !important;
  }
}

// Discord's standard primary buttons (with hashed class names)
button[class*="-button"][class*="-primary"] {
  color: #{$crust} !important;

  // Non-primary buttons also use the primary class...
  &:not([class*="-primaryDark"], [class*="-critical"]) {
    background-color: #{$brand} !important;

    &:hover {
      background-color: #{darken($brand, math.div(15%, 2))} !important;
    }

    &:active {
      background-color: #{darken($brand, math.div(25%, 2))} !important;
    }
  }
}

// Connect (positive) button text
button[class*="-button"][class*="-active"],
button.vc-btn-positive {
  color: #{$crust} !important;
}

svg[class*="-radioIndicator"] [class$="-refreshIcon"] {
  fill: #{$crust};
}
div[class*="-automodText"] {
  color: #{$crust};
}

// Forum pin icon
div[class*="-pinIcon"] > svg > path {
  fill: #{$crust};
}

// Server settings Members banner
div[class*="-bannerContainer"],
div[class*="-friendRequestContainer"] > button[class*="-colorGreen"] {
  [style*="color: white"] {
    color: #{$crust} !important;
  }
}

.vcd-screen-picker-option-radio[data-checked="true"] {
  --text-default: #{$crust};
}
button {
  &[class*="-selectorButtonSelected"],
  &:hover {
    div[class*="-selectorText"] {
      color: #{$crust};
    }
  }
}

svg[class*="-selectedIcon"] > circle[fill="white"] {
  fill: #{$crust};
}

// Channels & Roles Browse channels count
div[class*="-textBadge"][class*="-base"][style*="background-color: var(--background-accent)"] {
  --white: #{$text};
}
