// Hide New member thing
div[class^="newMemberBadge-"] {
  display: none;
}

// Get rid of thread suggestion bar
div[class^="threadSuggestionBar-"] {
  display: none;
}

// Remove nitro user popout dropdown upsell
[class*="userPopoutInner-"] [class*="upsell-"] {
  display: none;
}

// Get rid of the custom nitro light mode themed popouts
[class*="profileColors-"][class*="theme-light"] {
  --profile-gradient-primary-color: unset !important;
  --profile-gradient-secondary-color: unset !important;
  --profile-gradient-button-color: unset !important;
  --profile-gradient-overlay-color: unset !important;
  --profile-body-background-color: unset !important;
  --profile-body-background-hover: unset !important;
  --profile-body-divider-color: unset !important;
  --profile-avatar-border-color: unset !important;
  --profile-message-input-border-color: unset !important;
  --profile-note-background-color: unset !important;
  --account-profile-popout-menu-hover: unset !important;
  --profile-role-pill-background-color: unset !important;
  --profile-role-pill-border-color: unset !important;

  [class*="avatarHoverTarget-"] circle,
  [class*="avatar-"] circle {
    display: none;
  }

  [class*="rolePillBorder-"] {
    border: 0;
  }
}

// Better shrunken screen
@media screen and (max-width: 1100px) {
  [class^="nameTag-"],
  [class^="panels-"] [class^="container-"] [class^="flex-"] [class^="inner-"],
  [class*="membersWrap-"][class*="hiddenMembers-"] {
    display: none;
  }

  [class^="avatarWrapper-"] {
    min-width: 0px;
  }

  [class^="sidebar-"] {
    width: 20vw;
  }

  [class^="panels-"] [class^="container-"] [class^="flex-"] {
    justify-content: center;
    flex: 1 1 auto !important;
  }
}

// Remove spotify play button on the upload button
.attachButtonPlus-3IYelE {
  d: path(
    "M12 2.00098C6.486 2.00098 2 6.48698 2 12.001C2 17.515 6.486 22.001 12 22.001C17.514 22.001 22 17.515 22 12.001C22 6.48698 17.514 2.00098 12 2.00098ZM17 13.001H13V17.001H11V13.001H7V11.001H11V7.00098H13V11.001H17V13.001Z"
  );
}

.attachButtonPlay-1ATmb5 {
  display: none;
}

// Collapsing sidebar header banner
[class*="animatedContainer-"] {
  opacity: 1 !important;
  transition: opacity 0.5s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
  transition: margin 0.5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
  opacity: 0.35 !important;
  height: 138px;
}
:not([class*="bannerVisible-"])
  > [class*="animatedContainer-"]
  > [class*="bannerImage-"] {
  margin-top: -12px;
}

// Patch stupid resizing webm bug
div:not([data-fullscreen="true"]):not([class^="image"])
  > video:not([class^="gif"]) {
  height: 300px !important;
}

// Shrink codeblocks to as big as they need to be
[class^="markup-"] code {
  width: fit-content;
}

// Make members list fill all the space so the color is consistent
[class*="membersWrap"] {
  min-height: 100%;
}

// Remove 1st message sticker button
[class*="containerExpanded-"] {
  display: none;
}

// Remove Gift and Sticker buttons
div[class^="channelTextArea-"] {
  div[class^="buttons-"] > *:nth-child(1),
  div[class^="buttons-"] > *:nth-child(3) {
    display: none;
  }
}

// File upload animation
@keyframes attachmentAnimation {
  from {
    height: 0;
  }

  to {
    height: 218px;
  }
}

ul[class*="channelAttachmentArea-"] {
  animation-name: attachmentAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

// Collapsable search bar
[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"] {
  background: none !important;
  width: 24px;
  color: var(--color-text);
  transition: width 0.2s, padding 0.5s;
  padding: 0;
}

[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"]
  [class*="iconContainer-"] {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}

[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"],
[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"]
  svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
  padding: 0.5px;
}

[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] {
  width: 300px !important;
  padding: 0 10px !important;
}

[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] svg {
  color: var(--text-muted);
  transform: scale(0.8);
}

// Force emoji picker icon to be :pleading_face:
[class^="sprite-"],
[class^="sprite-"]:hover {
  background-position: -66px -88px !important;
}

// Gradient discord logo
svg[class^="homeIcon-"] {
  color: rgb(17, 17, 27);
}

[class^="tutorialContainer-"] [class^="childWrapper-"] {
  background: linear-gradient(-45deg, $peach, $red, $sky, $green);
  animation: gradientBG 10s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

// Round spotify album covers
[class*="assetsLargeImageSpotify-"] {
  border-radius: 8px;
}

// Non-invasive connection problems modal
[class*="container"][class*="fixClipping"] {
  background: transparent;
  pointer-events: none;

  [class*="anchor-"] {
    pointer-events: auto;
  }

  img,
  video,
  [class*="ready-"],
  [class*="content-"] [class*="text-"] {
    display: none;
  }

  [class*="problems-"] {
    padding: 8px 16px;
    bottom: 18px;
    left: unset;
    right: 18px;
    width: fit-content;
    height: fit-content;
    background-color: var(--background-floating);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
  }
}

// Cool looking Jump to Present message button
[class*="jumpToPresentBar"] {
  display: contents;
}

[class*="jumpToPresentBar"] > button:first-child {
  display: none;
}

[class*="jumpToPresentBar"] > button:last-child {
  position: absolute;
  bottom: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: var(--background-secondary);
  border-radius: 100px;
  display: flex;
  font-size: 0;
  color: transparent;
  transition: font-size 150ms 0s, color 150ms 0s, padding 150ms 0s;
}

[class*="jumpToPresentBar"] > button svg {
  order: -1;
  margin: 0;
  height: 24px;
  width: 24px;
  top: unset;
  margin-right: 4px;
  margin-left: 0;
  margin-right: 0;
  color: var(--text-normal);
  transition: margin 150ms 0s;
}

[class*="jumpToPresentBar"]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: var(--text-normal);
  transition: font-size 150ms 1.1s, color 150ms 1.1s, padding 150ms 1.1s;
  background-color: var(--background-tertiary);
}

[class*="jumpToPresentBar"]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
  transition: margin 150ms 1.1s;
}

/* Show edit timestamps in the edited message */
[class*="timestamp-"]:not([class*="timestampInline-"], [class*="timestampVisibleOnHover-"])
  time::after {
  content: " (" attr(aria-label) ")";
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
}

[class*="edited-"] {
  display: none;
}

// Hide blocked messages
[class^="groupStart-"] {
  display: none;
}

// Remove the help button in the top right
[class*="toolbar-"] [class*="anchor-"] {
  display: none;
}

// Jetbrains Mono codeblocks
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
[class^="markdown-"] [class^="codeInline-"],
[class^="codeLine-"],
[class^="codeBlockText-"],
[class^="durationTimeDisplay-"],
[class^="durationTimeSeparator-"],
[class*="after_inlineCode-"],
[class*="before_inlineCode-"],
[class^="inlineCode-"],
code.inline,
code,
.hljs {
  font-family: "Jetbrains Mono" !important;
}
