// Hide New member thing
div[class^="newMemberBadge-"] {
  display: none;
}

// get rid of thread suggestion bar
div[class^="threadSuggestionBar-"] {
  display: none;
}

// better shrunken screen
@media screen and (max-width: 1100px) {
  [class^="nameTag-"],
  [class*="membersWrap-"][class*="hiddenMembers-"] {
    display: none;
  }

  [class^="avatarWrapper-"] {
    min-width: 0px;
  }

  [class^="sidebar-"] {
    width: 20vw;
  }

  [class^="panels-"] [class^="container-"] [class^="flex-"] {
    justify-content: center;
    flex: 1 1 auto !important;
  }
}

// Shrink codeblocks to as big as they need to be
[class^="markup-"] code {
  width: fit-content;
}

// upload animation
@keyframes attachmentAnimation {
  from {
    height: 0;
  }

  to {
    height: 218px;
  }
}

ul[class*="channelAttachmentArea-"] {
  animation-name: attachmentAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

// Collapsable search bar
[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"] {
  background: none !important;
  width: 24px;
  color: var(--color-text);
  transition: width 0.2s, padding 0.5s;
  padding: 0;
}

[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"]
  [class*="iconContainer-"] {
  width: 24px !important;
  height: 24px;
  cursor: pointer !important;
}

[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"],
[class*="title-"][class*="container-"]
  [class*="toolbar-"]
  [class*="search-"]
  [class*="searchBar-"]
  svg {
  color: var(--color-text);
  width: 24px;
  height: 24px;
  padding: 0.5px;
}

[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] {
  width: 300px !important;
  padding: 0 10px !important;
}

[class*="toolbar-"] [class*="open-"] [class*="searchBar-"] svg {
  color: var(--text-muted);
  transform: scale(0.8);
}

// round spotify album covers
[class*="assetsLargeImageSpotify-"] {
  border-radius: 8px;
}

// Cool looking Jump to Present message button
[class*="jumpToPresentBar"] {
  display: contents;
}

[class*="jumpToPresentBar"] > button:first-child {
  display: none;
}

[class*="jumpToPresentBar"] > button:last-child {
  position: absolute;
  bottom: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: var(--background-secondary);
  border-radius: 100px;
  display: flex;
  font-size: 0;
  color: transparent;
  transition: font-size 150ms 0s, color 150ms 0s, padding 150ms 0s;
}

[class*="jumpToPresentBar"] > button svg {
  order: -1;
  margin: 0;
  height: 24px;
  width: 24px;
  top: unset;
  margin-right: 4px;
  margin-left: 0;
  margin-right: 0;
  color: var(--text-normal);
  transition: margin 150ms 0s;
}

[class*="jumpToPresentBar"]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: var(--text-normal);
  transition: font-size 150ms 1.1s, color 150ms 1.1s, padding 150ms 1.1s;
  background-color: var(--background-tertiary);
}

[class*="jumpToPresentBar"]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
  transition: margin 150ms 1.1s;
}

/* Show edit timestamps in the edited message */
[class*="timestamp-"]:not([class*="timestampInline-"], [class*="timestampVisibleOnHover-"])
  time::after {
  content: " (" attr(aria-label) ")";
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
}

[class*="edited-"] {
  display: none;
}

// Hide blocked messages
[class^="groupStart-"] {
  display: none;
}

// Emoji picker (credit Obscure-git), ported to wildcards by me
[class^="emojiPicker"] > [class^="header-"] {
  --webkit-shadow: none;
  box-shadow: none !important;
  filter: none;
}

#emoji-picker-tab-panel [class^="header-"] {
  padding-top: 16px;
}

[class*="positionLayer-"][class*="layer-"] {
  bottom: 135px !important;
}

div#popout_7505 {
  top: 500px !important;
  right: 265px !important;
}

[class^="contentWrapper-"] {
  grid-template-rows: auto;
  min-height: 442px !important;
}

[class^="contentWrapper-"] [class^="nav-"],
[class^="contentWrapper-"] [class^="navList-"] {
  position: fixed;
  bottom: 90px;
  height: 40px;
  width: 392px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: var(--background-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 101;
}

[class*="inspector-"][class*="inspector-"] {
  height: 0;
  display: none;
}

[class^="bodyWrapper-"] {
  height: 320px;
  margin-top: -5px;
  padding-left: 10px;
  padding-right: 5px;
}

[class^="drawerSizingWrapper-"] {
  height: 442px !important;
  max-width: 424px;
}

[class^="drawerSizingWrapper-"] [class^="resizeHandle-"] {
  display: none;
  cursor: default;
}

#emoji-picker-tab-panel [class*="wrapper="][class*="categoryList-"] {
  transform: rotate(-90deg);
  transform: rotate(-90deg) translateX(225px) translateY(190px);
  height: 400px;
  padding-top: 0px !important;
  border-radius: 10px;
}

#emoji-picker-tab-panel
  [class*="wrapper="][class*="categoryList-"]
  [class^="listItems-"]
  [class^="categoryItem-"],
#emoji-picker-tab-panel
  [class*="wrapper="][class*="categoryList-"]
  [class^="unicodeShortcut-"] {
  transform: rotate(90deg);
}

#emoji-picker-tab-panel
  [class*="wrapper="][class*="categoryList-"]
  [class^="unicodeShortcut-"],
#emoji-picker-tab-panel
  [class*="wrapper="][class*="categoryList-"]
  [class*="scroller-"],
#emoji-picker-tab-panel
  [class*="wrapper="][class*="categoryList-"]
  [class^="listItems-"] {
  background: var(--background-tertiary) !important;
  border-radius: 10px;
}

#emoji-picker-tab-panel [class^="emojiPicker-"] {
  grid-template-rows: 46px auto calc(calc(48px * 2) + 8px) !important;
  grid-template-columns: 0 auto !important;
  position: relative !important;
  padding-top: 65px;
  height: 420px;
  width: 428px;
  border-radius: 5px !important;
}

#emoji-picker-tab-panel [class^="emojiPicker-"] [class*="emoji-"] {
  margin-left: -5px !important;
}

#emoji-picker-tab-panel [class^="emojiPicker-"] [class*="searchBar-"],
#emoji-picker-tab-panel [class^="emojiPicker-"] [class*="inspector-"] {
  background: var(--background-primary) !important;
}

#gif-picker-tab-panel [class*="searchBar-"] {
  background: var(--background-primary) !important;
}

#sticker-picker-tab [class*="container-"],
[class*="inner-1NoIT5"] {
  background: var(--background-primary) !important;
}

[class*="emojiItem-"] [class*="emojiItemImageLoading-"] {
  /* Fix Loading Emojis */
  background-image: none;
  background-color: var(--background-primary) !important;
  border-radius: 30%;
}
